.column {
    min-width: auto;
    transition: all 0.3s;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 2px 2px 2px 1px #aab7cf;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 3px;
}

.heading {
    text-align: start;
}

.column-trigger {
    min-width: auto;
    transition: all 0.3s;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 2px 2px 2px 1px #aab7cf;
    border-radius: 5px;
    background-color: #e0e0e0;
    opacity: 0.5;
    margin: 3px;
}

.widget-button {
    min-height: 25%;
    min-width: 20%;
    text-align: center;
    vertical-align: middle;
}

.add-widget {
    background-color: #c6cede;
    width: auto;
    display: block;
}

.column-trigger:hover {
    opacity: 0.9;
}

.add-widget:hover {
    opacity: 0.8;
}

.widget-input {
    background-color: #c6cede;
    border-style: none;
    transition: 0.3s;
}

.widget-input:hover {
    opacity: 0.8;
    color: #555;
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.widget {
    background: #f1f1f1;
}

.column-menuicon {
    min-width: 20px;
    min-height: 20px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%
}