.column {
    min-width: auto;
    transition: all 0.3s;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 2px 2px 2px 1px #aab7cf;
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 3px;
}

.heading {
    text-align: start;
}

.column-trigger {
    min-width: auto;
    transition: all 0.3s;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 2px 2px 2px 1px #aab7cf;
    border-radius: 5px;
    background-color: #e0e0e0;
    opacity: 0.5;
    margin: 3px;
}

.widget-button {
    min-height: 25%;
    min-width: 20%;
    text-align: center;
    vertical-align: middle;
}

.top-widget{
    background-color: #c6cede;
    display: block;
    cursor: pointer;
    border: 2px solid black;
    transition: 0.3s ease;
}

.color-option{
    padding:3px;
    margin: 5px;
    display: block;
    background-color: #212529;
    min-height: 4vw;
    min-width: 4vw;
    border-radius: 5px;
    border: 2px solid #888;
}
.color-option:hover{
    border: 3px solid rgb(75, 42, 242);
}
.pink{
    background-color: pink;
}
.green{
    background-color: green;
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.top-widget:hover{
    background-color: #fff;
    border: 2px solid #c6cede;
    color: grey
}

.animated-cover-div{
    height: auto;
    transition: 0.3s ease;
}

.popover-loc{
    margin-top: -10vh;
    width: 20vw;
    height: 20vh;
}

.add-widget {
    background-color: #c6cede;
    width: auto;
    display: block;
    cursor: pointer;
    transition: 0.3s;
}

.add-widget:hover {
    box-shadow: 1px 1px #aab7cf;
    opacity: 0.9;
}

.add-widget-small {
    background-color: #c6cede;
    border-radius: 5%;
    cursor: pointer;
    transition: 0.3s;
}

.pointer-icon {
    vertical-align: middle;
    cursor: pointer;
}

.add-widget-small:hover {
    box-shadow: 1px 1px #aab7cf;
    opacity: 0.9;
}

.column-trigger:hover {
    opacity: 0.9;
}

.add-widget:hover {
    opacity: 0.8;
}

.widget-input {
    background-color: #c6cede;
    border-style: none;
    transition: 0.3s;
    cursor: pointer;
}

.widget-input:hover {
    opacity: 0.8;
    color: #555;
}

::-webkit-scrollbar {
    width: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.widget {
    background: #f1f1f1;
}

.column-menuicon {
    min-width: 20px;
    min-height: 20px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%
}

.modal-dialog {
    min-width: 80vw;
}

.finger-pointer {
    cursor: pointer;
}

.form-control-todo {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

textarea.note {
    overflow: hidden;
    width: 100%;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
    transition: box-shadow 0.5s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.web-image {
    display: block;
    max-width: 100%;
    /* max-height: 30vh; */
    height: auto;
}

.webbookmark-des {
    font-size: 70%;
}

.webbookmark-title {
    font-size: 80%;
}

.calendar-displaytime {
    font-size: 85%;
}