.header {
    transition: all 0.5s;
    z-index: 997;
    height: auto;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
    /* Toggle Sidebar Button */
    /* Search Bar */
}

.header span {
    font-size: 26px;
    font-weight: 700;
    color: #17252A;
    font-family: "Nunito", sans-serif;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #17252A;
    transition: 0.3;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
}

.nav-heading {
    font-size: 13px;
    text-transform: uppercase;
    color: #17252A;
    font-weight: 600;
    text-align: center;
}

.navbar-toggle {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #17252A;
}


/* auto width 不能被动画 这里用max width */

.nav-menu {
    position: fixed;
    top: 30px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #FEFFFF;
}

.nav-menu.active {
    left: -100vh;
}

.nav-menu-items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-text {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-text a {
    text-decoration: none;
    color: #17252A;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 0.2rem;
}

.nav-text a:hover {
    background: #f6f9ff;
}

.nav-text a:hover i {
    background: #DEF2F1;
}

.sub-menu:hover {
    background-color: darkgray;
    border-radius: 10%;
    padding-bottom: 2px;
}

.dropdown-content {
    right: 10px;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #FEFFFF;
    transform: all, 1s;
    border-color: lightgray;
    padding: 2%;
}

.dropdown-option {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: small;
    margin-right: 5%;
}

.dropdown-option:hover {
    cursor: "pointer";
    color: black;
    background-color: #aab7cf;
    opacity: 0.8;
    border-radius: 5%;
}

.nav-text .item-title {
    font-size: 15px;
    text-transform: uppercase;
    color: #17252A;
    font-weight: 600;
    margin: 10px 0 5px 15px;
}

button:focus {
    outline: none;
}

main {
    margin-top: 70px;
    margin-left: 300px;
    transition: 300ms;
    overflow: auto
}

.main-close {
    margin-top: 70px;
    margin-left: 0px;
    overflow: auto
}

.page-yes-button {
    background-color: #aab7cf;
}

.page-yes-button:hover {
    opacity: 0.5;
}

.page-cancel-button {
    background-color: #aab7cf;
}

.page-cancel-button:hover {
    opacity: 0.5;
}

.page-input {
    font-size: smaller;
}